/**/
.current-day {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  justify-self: center;
}

.current-day-title {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.current-day-grid {
  display: grid;
  grid-template-columns: repeat(3, 295px);
  gap: 20px;
  width: 100%;
  border: 1px green solid;
  justify-content: center;
}

.day-info-box {
  height: 115px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 20px 40px;
  justify-content: space-between;
}

.day-box-title {
  color: #b2b2b2;
  padding-left: 5px;
}

.uvi-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uvi-icon {
  width: 100px;
  height: 100px;
}

.wind-speed,
.humidity-total,
.visibility-distance,
.air-qaulity {
  font-size: 30px;
  padding-right: 5px;
}

.wind-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wind-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wind-details-wind {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px #b2b2b2 solid;
}

.wind-details-gust {
  display: flex;
  flex-direction: row;
}

.wind-speed-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wind-speed-text span:first-child {
  color: #a1a0a0;
}

.wind-speed-text span {
  font-size: 13px;
}

.wind-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compass-icon {
  width: 80px;
  height: 80px;
}

.wind-d-text {
  font-weight: bold;
  font-size: 20px;
}
.humidity-description,
.visibilty-description,
.air-description {
  display: flex;
  flex-direction: row;
  position: relative;
}

.humidity-d-text,
.visibility-d-text {
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.sunrise {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pressure-gauge {
  width: 100px;
}
